*.pc
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.so*
*.a
/doc/html/
GIT-VERSION-FILE
*.cxx
config.h
examples/chatterbox/chatterbox
Doxyfile
*kdevelop*
install_manifest.txt
autolab-rapi.kdevses
include/
*~
